p.ridge {
  border-style: double;
  border-color: black;
  border-width: 1px;
}

#zoom-img01{
  background: url("http://b02.deliver.odai.yale.edu/d6/09/d609f750-bd47-406c-a211-8876a7580b2d/040346-1-large.jpg");
  background-position: center;
  background-size: cover;
}

#zoom-img02{
  background: url("http://b03.deliver.odai.yale.edu/fb/39/fb39c6e9-caeb-4e41-9380-1f7fa87abb75/040346-2-large.jpg");
  background-position: center;
  background-size: cover;
}
