* {
    background-color: black;
    color: white;
    font-size: 20px;
}

#container{
  background-color: silver;
  color: black;
  width: 500px;
  border: 10px ridge;
  padding: 10px;
  margin: auto;
  line-height: 2;
}

#zoom-img01{
  width: 500px;
  height: 333.33px;
  background: url("unidentifiedobject01.jpg");
  background-position: center;
  background-size: cover;

  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;

  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#zoom-img02{
  width: 500px;
  height: 333.33px;
  background: url("unidentifiedobject02.jpg");
  background-position: center;
  background-size: cover;

  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;

  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
}
