* {
    background-color: black;
    color: white;
    font-size: 20px;
}

#container{
  background-color: silver;
  color: black;
  width: 500px;
  border: 10px ridge;
  padding: 10px;
  margin: auto;
  line-height: 2;
}

#zoom-img01{
  width: 500px;
  height: 333.33px;
  background: url("http://b02.deliver.odai.yale.edu/d6/09/d609f750-bd47-406c-a211-8876a7580b2d/040346-1-large.jpg");
  background-position: center;
  background-size: cover;

  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;

  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#zoom-img02{
  width: 500px;
  height: 333.33px;
  background: url("http://b03.deliver.odai.yale.edu/fb/39/fb39c6e9-caeb-4e41-9380-1f7fa87abb75/040346-2-large.jpg");
  background-position: center;
  background-size: cover;

  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;

  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
}
